@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) ============================================ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */
input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

img {
  width: auto;
  border: 0;
  vertical-align: middle;
}

/* For all */
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/* for wrapper */
.wrapper {
  max-width: 1360px;
  width: 58%; 
  margin: 0 auto;
}

/*=================================
  Header styling starts here
=================================*/
header { position: relative; }
header span { display: none; }

/* Top Bar */
.top-bar { padding: 34px 0 33px 0; }

.top-flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

header .social-links {
  width: 30%;
  margin: auto;
}

header .social-links li {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #f2f2f2;
  text-align: center;
}

header .social-links a {
  padding: 6px;
  margin-top: 5px;
  color: #4d4d4d;
  font-size: 11px;
}

header .social-links a:hover {
  color: #4e9525;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.sitelogo {
  width: 40%;
  margin: auto;
  text-align: center;
}

.search-area {
  width: 30%;
  margin: auto;
  position: relative;
  text-align: end;
}

.search-area input {
  width: 80%;
  padding: 9px 12px;
  border: none;
  border-radius: 24px;
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, .5);
  outline: none;
}

.search-area input::-webkit-input-placeholder { font-size: 11px; }
.search-area input::-moz-placeholder { font-size: 11px; }
.search-area input:-ms-input-placeholder { font-size: 11px; }
.search-area input::-ms-input-placeholder { font-size: 11px; }
.search-area input::placeholder { font-size: 11px; }

.search-button {
  padding: 12px;
  border: none;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: -1px;
  background-color: #4e9525;
  color: #fff;
  font-size: 11px;
  outline: none;
}

.search-button:hover {
  border: 2px solid #4e9525;
  margin: -2px;
  background-color: #4d4d4d;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

/* Nav Bar */

nav {
  background-color: #4e9525;
  font-size: 11px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

nav ul { padding: 19px 0 20px 0; }
nav li { margin: 0 12px; }
nav a { color: #fff; }
nav a.active { color: #fbd341; }

nav a:hover:not(.active) {
  padding-bottom: 6px;
  border-bottom: 2px solid #fbd341;
  margin-bottom: -8px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

/* Hamburger */
.hamburger {
  display: none;
  position: absolute;
  right: 32px;
  top: 26px;
  color: #4e9525;
  cursor: pointer;
  font-size: 24px;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* Banner Section */
.home-banner {
  background: url('https://via.placeholder.com/1920x1080/454545/454545?text=Banner') no-repeat center;
  background-size: cover;
}

.home-banner .banner-content {
  padding: 212px 0 220px 0;
  color: #fff;
}

.home-banner p:nth-of-type(1) {
  color: #fbd341;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

.home-banner h2 {
  width: 300px;
  padding: 8px 0;
  font-size: 44px;
  font-weight: 600;
}

.home-banner p:nth-of-type(2) {
  padding-bottom: 17px;
  font-size: 14px;
}

.home-banner a {
  padding: 8px 19px;
  border-radius: 2px;
  background-color: #4e9525;
  color: #fff;
  font-size: 12px;
}

.home-banner a:hover {
  border: 2px solid #4e9525;
  margin: -2px;
  background-color: transparent;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.home-banner span { font-size: 0px; }
.home-banner span::before { font-size: 8px;}

/* Services Section */
.services { padding: 34px 0 102px 0; }

.services-flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.care { width: 25%; }
.lawn-services { width: 25%; }

.care figure {
  padding: 12px 24px 24px 24px;
  margin: 12px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  text-align: center;
}

.care img {
  border-radius: 50%;
  margin-bottom: 12px;
}

.care h4 {
  font-size: 14px;
  font-weight: 600;
}

.care p {
  padding: 12px 0 4px 0;
  font-size: 13px;
  color: rgba(0, 0, 0, .5);
  line-height: 1.4;
}

.services-content { margin: 6px 12px }

.services-content h3 {
  margin: 8px 0;
  font-size: 19px;
  font-weight: 600;
}

.services-content p:nth-of-type(1) {
  color: #4e9525;
  font-size: 14px;
  font-weight: 600;
}

.services-content p:nth-of-type(2) {
  padding: 12px 0 12px 0;
  font-size: 13px;
  color: rgba(0, 0, 0, .5);
  line-height: 1.4;
}

.services-content a {
  padding: 12px 19px;
  border-radius: 2px;
  background-color: #4e9525;
  color: #fff;
  font-size: 12px;
}

.services-content a:hover {
  border: 2px solid #4e9525;
  margin: -2px;
  background-color: transparent;
  color: #4e9525;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

/* Welcome Section */
.welcome { background-color: #f8f9fa; }

.welcome-flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.welcome-flexbox {
  width: 50%;
  margin: auto 0;
}

.welcome-image figure {
  max-width: 380px;
  position: relative;
}

.see-more {
  position: absolute;
  top: 50%;
  right: -26px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.welcome-flexbox img { max-width: 100%; }

.see-more a {
  width: 32px;
  height: 32px;
  padding: 16px 0 8px 26px;
  border-radius: 50%;
  background-color: #4e9525;
  color: #fff;
  font-size: 24px;
}

.see-more a:hover {
  margin: -2px;
  border: 2px solid #4e9525;
  background-color: #fbd341;
  color: #4e9525;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.see-more span { display: none; }
.welcome-content { padding: 32px; }

.welcome-content h3 {
  margin: 8px 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.4;
}

.welcome-content p:nth-of-type(1) {
  padding: 3px 0;
  color: #4e9525;
  font-size: 14px;
  font-weight: 600;
}

.welcome-content p:nth-of-type(2) {
  padding: 12px 0 12px 0;
  font-size: 13px;
  color: rgba(0, 0, 0, .5);
  line-height: 1.4;
}

.welcome-content ul { margin-right: -24px; }
.welcome-content li:first-child { margin-top: 0; }

.welcome-content li {
  border-radius: 3px;
  margin: 12px 0;
  display: block;
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  font-size: 13px;
}

.welcome-content a {
  width: 90%;
  padding: 18px 24px;
  color: #000;
}

.welcome-content span {
  padding: 13px 14px 13px 14px;
  border-radius: 50%;
  position: absolute;
  right: -18px;
  top: 50%;
  background-color: #4e9525;
  color: #fff;
  font-size: 0px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.welcome-content span::before { font-size: 10px;}
.welcome-content li.active { background-color: #4e9525; }
.welcome-content li.active a { color: #fff; }

.welcome-content li.active span {
  background-color: #fbd341;
  color: #4e9525;
}

.welcome-content li:hover {
  background-color: #4e9525;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.welcome-content li > a:hover { color: #fff; }

.welcome-content a:hover > span {
  background-color: #fbd341;
  color: #4e9525;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

/* Contact Section */
.contact {
  padding: 24px 0;
  background-color: #4e9525;
  color: #fff;
}

.contact-flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.contact-flexbox { width: 50%; }
.contact-flexbox:nth-of-type(2) { text-align: end; }

.contact h3 {
  margin: 8px 0;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.4;
}

.contact p {
  padding-bottom: 12px;
  font-size: 13px;
  line-height: 1.4;
}

.contact a {
  padding: 39px 0;
  color: #fbd341;
  font-size: 30px;
}

.contact a:hover { text-decoration: underline; }

/* Testimonials Section */
.testimonials {
  padding: 32px 0 80px 0;
  text-align: center;
}

.testimonials h3 {
  margin: 8px 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.4;
}

.testimonials > .wrapper > p {
  padding-top: 46px;
  color: #4e9525;
  font-size: 14px;
  font-weight: 600;
}

.testimonials-flex {
  width: 100%;
  padding: 42px 0 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.testimonials-flexbox { width: 33.33%; }

.testimonials-content {
  padding: 12px;
  margin: 12px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .03);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .03);
  text-align: left;
}

.testimonials-content p {
  padding: 8px 0 12px 0;
  font-size: 13px;
  color: rgba(0, 0, 0, .5);
  line-height: 1.5;
}

.testimonials-content img {
  margin-right: 8px;
  border-radius: 50%;
  float: left;
}

.testimonials-content figcaption {
  margin: 4px 0 6px 0;
  padding-top: 12px;
  font-size: 14px;
  font-weight: 600;
}

.testimonials-content span {
  padding: 8px 0;
  display: block;
  color: #4e9525;
  font-size: 12px;
}

.indicators { text-align: center; }

.indicator {
  width: 7px;
  height: 7px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 50%;
  display: inline-block;
  background-color: #f8f9fa;
  -webkit-box-shadow: 0 0 2px #f8f9fa;
  box-shadow: 0 0 2px #f8f9fa;
  cursor: pointer;
}

.indicator.active { background-color: #4e9525; }

.indicator:hover {
  background-color: #4e9525;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.indicators span { font-size: 0;}

/* Slider Section */
.slideshow-container { position: relative; }

/* Next & previous buttons */
.testimonials .prev,
.testimonials .next {
  width: auto;
  padding: 16px;
  margin-top: -22px;
  position: absolute;
  top: 50%;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.testimonials .prev { left: -32px; }
.testimonials .next { right: -32px; }

/* On hover, add a black background color with a little bit see-through */
.testimonials .prev:hover,
.testimonials .next:hover {
  color: #4e9525;
}

/* Blogs Section */
.blogs {
  padding: 32px 0 57px 0;
  background-color: #f8f9fa;
  text-align: center;
}

.blogs h3 {
  margin: 8px 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.4;
}

.blogs > .wrapper > p {
  padding-top: 46px;
  color: #4e9525;
  font-size: 14px;
  font-weight: 600;
}

.blog-flex {
  width: 100%;
  padding: 43px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.blog-flexbox { width: 33.33%; }

.blog-flexbox figure {
  margin: 0 12px;
  position: relative;
}

.blog-flexbox img { max-width: 100%; }

.blog-date {
  padding: 6px 12px 4px 12px;
  position: absolute;
  bottom: 0;
  left: 14px;
  background-color: #4e9525;
  color: #fff;
  font-size: 30px;
}

.blog-year,
.blog-month {
  padding: 1px 0;
  display: block;
  font-size: 11px;
}

.blog-date .text {
  padding-left: 4px;
  float: right;
  text-align: left;
}

.bottom-arrow {
  width: 14px;
  height: 14px;
  position: absolute;
  left: 25px;
  bottom: -5px;
  background-color: #4e9525;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.bottom-arrow span { display: none; }

.blog-content {
  padding: 22px 12px 24px 12px;
  margin: 0 12px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
}

.blog-content p {
  padding: 12px 0;
  font-size: 13px;
  font-weight: 100;
  color: rgba(0, 0, 0, .5);
  line-height: 1.4;
}

.blog-content a {
  padding: 8px 10px;
  border-radius: 2px;
  background-color: #4e9525;
  color: #fff;
  font-size: 12px;
  font-weight: 100;
}

.blog-content a:hover {
  border: 2px solid #4e9525;
  margin: -2px;
  background-color: transparent;
  color: #4e9525;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

/* Newsletter Section */
.newsletter {
  padding: 18px 0;
  background-color: #4e9525;
  color: #fff;
}

.newsletter-flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.newsletter-flexbox {
  width: 50%;
  margin: auto 0;
}

.newsletter h3 {
  margin-right: 40px;
  font-size: 18px;
  text-align: right;
}

.newsletter input {
  padding: 10px 8px;
  margin-left: 12px;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.newsletter button {
  padding: 10px 8px;
  border: none;
  border-radius: 0 4px 4px 0;
  margin-left: -4px;
  background-color: #3b6d1d;
  color: #fff;
}

.newsletter button:hover {
  background-color: #4d4d4d;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

/* To the top Section */
.to-the-top {
  display: none;
  position: fixed;
  right: 24px;
  bottom: 24px;
  z-index: 2;
}

.to-the-top button {
  padding: 12px;
  border: 2px solid #fff;
  background-color: #4e9525;
  color: #fff;
  font-size: 24px;
  outline: none;
}

.to-the-top button:hover { -webkit-box-shadow: 0 1px 5px #fbd341; box-shadow: 0 1px 5px #fbd341; }
.to-the-top span { display: none; }

/* Contact Page Banner Section */
.contact-banner {
  background: url('https://via.placeholder.com/1920x1080/454545/454545?text=Banner') no-repeat center;
  background-size: cover;
}

.contact-banner .banner-content {
  padding: 220px 0 45px 0;;
  color: #fff;
  text-align: center;
}

.contact-banner h2 {
  padding: 8px 0;
  font-size: 42px;
  font-weight: 600;
}

.contact-banner p {
  padding: 5px 0 4px 0;
  font-size: 12px;
}

.contact-banner span:first-of-type { padding-right: 4px; }
.contact-banner a { color: rgba(255, 255, 255, .4); }

.contact-banner a:hover {
  color: #fff;
  -webkit-transform: translateX(2px);
  -ms-transform: translateX(2px);
  transform: translateX(2px);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

/* Contact Page Form Section */
.contact-form {
  padding: 24px 0 78px 0;
  background-color: #f8f9fa;
}

.contact-details {
  width: 100%;
  padding: 56px 0 42px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.details-flexbox { width: 25%; }

.details-flexbox span {
  padding: 16px;
  border-radius: 50%;
  background-color: #4e9525;
  color: #fff;
  font-size: 0px;
}

.details-flexbox span::before { font-size: 12px; }
.details-flexbox .fa-map-marker { padding: 16px 18px; }
.details-flexbox a[href] { color: #4e9525; }

.details-flexbox a {
  display: inline;
  color: rgba(0, 0, 0, .5);
  font-weight: 100;
}

.details-flexbox a[href]:hover { text-decoration: underline; }

.details-flexbox p {
  padding: 12px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
}

.form-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #fff;
}

.form-section form { width: 58%; }

.form-section figure {
  width: 42%;
  margin: auto;
}

.form-section img { max-width: 100%; }
.form-content { padding: 34px; }

.form-content h3 {
  padding: 2px 0;
  font-size: 20px;
}

.form-content p {
  padding: 22px 0 18px 0;
  color: rgba(0, 0, 0, .5);
  font-size: 13px;
  font-weight: 600;
}

.input-flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#contact-response {
  opacity: 0;
  -webkit-transform: translateX(-8px);
  -ms-transform: translateX(-8px);
  transform: translateX(-8px);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.input-flex input, .input-flex textarea { 
  width: 100%;
  padding: 10px 0;
  border: none;
  border-radius: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  background-color: #fff;
  outline: none;
  resize: none;
}

.input-flex input:focus, .input-flex textarea:focus {
  border-bottom: 1px solid #4e9525;
  -webkit-transition: .5s ease-out;
  -o-transition: .5s ease-out;
  transition: .5s ease-out;
}

.input-flex label {
  padding: 6px 0 8px 0;
  display: block;
  color: #4e9525;
  font-size: 9px;
  font-weight: 600;
  text-transform: uppercase;
}

.name-margin { margin-right: 12px; }
.email-margin { margin-left: 12px; }
.input-flex span { display: block; }
.full-name, .email { width: 50%; }
.subject, .message { width: 100%; }

.helper {
  color: #f00;
  font-size: 10px;
  opacity: 0;
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.form-control { padding: 4px 0; }

.form-control button {
  padding: 6px 10px;
  border: none;
  border-radius: 2px;
  background-color: #4e9525;
  color: #fff;
  font-size: 12px;
  font-weight: 100;
  outline: none;
}

.form-control button:hover {
  margin: -2px;
  border: 2px solid #4e9525;
  background-color: transparent;
  color: #4e9525;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

/* Gallery Page Banner Section */
.gallery-banner {
  background: url('https://via.placeholder.com/1920x1080/454545/454545?text=Banner') no-repeat center;
  background-size: cover;
}

.gallery-banner .banner-content {
  padding: 220px 0 45px 0;;
  color: #fff;
  text-align: center;
}

.gallery-banner h2 {
  padding: 8px 0;
  font-size: 42px;
  font-weight: 600;
}

.gallery-banner p {
  padding: 5px 0 4px 0;
  font-size: 12px;
}

.gallery-banner span,
.contact-banner span { font-size: 0px; }
.gallery-banner span::before,
.contact-banner span::before { font-size: 11px; }
.gallery-banner span:first-of-type { padding-right: 4px; }
.gallery-banner a { color: rgba(255, 255, 255, .4); }

.gallery-banner a:hover {
  color: #fff;
  -webkit-transform: translateX(2px);
  -ms-transform: translateX(2px);
  transform: translateX(2px);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

/* Gallery Page Gallery Section */
.gallery h3 { display: none; }
.gallery .wrapper { width: 100%; }

.gallery img {
  max-width: 100%;
  border: 1px solid #fff;
  margin: -1px;
}

.gallery-flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.gallery figure {
  width: 33.33%;
  position: relative;
  cursor: pointer;
}

.gallery figure:hover {
  -webkit-box-shadow: 0 0 8px #000;
  box-shadow: 0 0 8px #000;
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .2s ease-in;
  z-index: 1;
}

.gallery figcaption {
  padding: 12px 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.4;
}

.gallery p { font-size: 14px; }

/* Gallery Modal */
.lightbox .modal {
  width: 100%;
  height: 100%;
  padding-top: 112px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .75);
  overflow: auto;
  z-index: 3;
}

.lightbox .modal {
  opacity: 0;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

/* Modal Content */
.lightbox figure { position: relative; }
.lightbox img { width: 100%; }

/* Close Button */
.lightbox .close {
  padding: 10px;
  position: absolute;
  top: 10px;
  right: 25px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.lightbox .close:hover,
.lightbox .close:focus {
  color: #4e9525;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

/* Hide the slides by default */
.lightbox .myImages {
  max-width: 1380px;
  width: 60%;
  margin: auto;
  display: none;
}

/* Next & previous buttons */
.modal-content { position: relative; }

.lightbox .prev,
.lightbox .next {
  width: auto;
  padding: 16px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-size: 0px;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lightbox .prev::before,
.lightbox .next::before {  font-size: 28px;}

/* Position the "prev next button" to the right */
.lightbox .prev { left: 0; }
.lightbox .next { right: 0; }

/* On hover, add a black background color with a little bit see-through */
.lightbox .prev:hover,
.lightbox .next:hover {
  color: #4e9525;
}

/* Number text (1/3 etc) */
.lightbox .numbertext {
  padding: 8px 12px;
  border-radius: 3px;
  position: absolute;
  bottom: -24px;
  right: -12px;
  color: #fff;
  font-size: 11px;
}

/* Fading animation */
.fade-right {
  -webkit-animation-name: fade-right;
  animation-name: fade-right;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes fade-right {
  from { opacity: 0; -webkit-transform: translateX(-18px); transform: translateX(-18px); }
  to { opacity: 1; -webkit-transform: translateX(0); transform: translateX(0); }
}

@keyframes fade-right {
  from { opacity: 0; -webkit-transform: translateX(-18px); transform: translateX(-18px); }
  to { opacity: 1; -webkit-transform: translateX(0); transform: translateX(0); }
}

.fade {
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from { opacity: 0.8; }
  to { opacity: 1; }
}

@keyframes fade {
  from { opacity: 0.8; }
  to { opacity: 1; }
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer {
  padding: 60px 0 30px 0;
  background-color: #252525;
  color: #fff;
  font-size: 13px;
  line-height: 1.5;
}

footer a { color: #fff; }

.footer-flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-flexbox { width: 25%; }
footer figure { margin-right: 12px; }

footer figcaption {
  padding: 24px 0;
  font-size: 13px;
  line-height: 1.5;
}

.footer-content h4 {
  margin-bottom: 12px;
  font-size: 15px;
  font-weight: 600;
}

.footer-content ul { padding: 12px 0; }

.footer-services li {
  margin: 6px 0;
  display: block;
}

.footer-services span {
  margin-right: 6px;
  font-size: 0px;
}

.footer-services span::before { font-size: 10px; }

.footer-services {
  margin-left: 36px;
  margin-right: 12px;
}

.contact-info {
  margin-left: 12px;
  margin-right: 6px;
}

.contact-info li {
  margin: 8px 0;
  display: block;
}

.contact-info li a {
  padding-left: 15px;
  position: relative;
}

.contact-info span {
  padding-top: 5px;
  position: absolute;
  left: 0%;
  font-size: 0px;
}

.contact-info span::before { font-size: 10px; }

.office-hours { margin-left: 12px; }
.office-hours li { padding-left: 12px; }

.office-hours p {
  padding-top: 16px;
  color: #fbd341;
}

.office-hours ul {
  padding-top: 6px;
  padding-bottom: 0;
}

.footer-services a:hover,
.contact-info a[href]:hover {
  text-decoration: underline;
  -webkit-transform: translateX(6px);
  -ms-transform: translateX(6px);
  transform: translateX(6px);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

/* Social Links */
.social-links span { display: none; }

footer .social-links li {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin: 0 3px;
  background-color: #303030;
  text-align: center;
}

footer .social-links a {
  padding: 6px;
  margin-top: 2px;
  font-size: 18px;
}

footer .social-links a:hover {
  color: #4e9525;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

/* Copyright Section */
.copyright {
  margin: 54px 0 14px 0;
  text-align: center;
}

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 1240px starts here*/
@media only screen and (max-width: 1240px) {
  .wrapper { width: 75%; }
  .blog-flexbox { max-width: 246px; }
}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  .wrapper { width: 85%; }
  .footer-services,
  .contact-info,
  .office-hours {  margin: 0 12px;}
  .contact-info span { margin-right: 6px; }
}

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  .wrapper { width: 84%; }
  .top-bar { padding: 24px 0; }
  header .social-links { display: none; }
  header .search-area {  margin-right: 54px; }

  header .sitelogo {
    width: 50%;
    margin-left: 0;
    text-align: left;
  }

  .hamburger { display: block; }

  nav li {
    padding: 12px 0;
    display: block;
    text-align: left;
  }

  nav {
    width: 100%;
    position: absolute;
    -webkit-box-shadow: 0 1px 1px #fff;
    box-shadow: 0 1px 1px #fff;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
  }

  .to-the-top button { font-size: 16px; }

  .care {
    width: 50%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .lawn-services {
    width: 50%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .welcome-flexbox { width: 100%; }
  .welcome-flexbox figure { margin-left: 24px; }
  .welcome-content { margin-right: 24px; }
  .contact-flexbox { width: 100%; }
  .contact-flexbox:nth-of-type(2) { text-align: start; }
  .contact-flexbox a { font-size: 24px; }
  .testimonials-flex { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .testimonials-flexbox { width: 50%; }
  .blog-flex { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

  .blog-flexbox {
    width: 50%;
    padding: 12px 0;
  }

  .newsletter-flexbox { width: 100%; }

  .newsletter h3 { 
    margin: 0;
    margin-bottom: 12px;
    text-align: left;
  }

  .newsletter input {
    width: 60%;
    margin: 0;
  }

  .footer-flexbox {
    width: 50%;
    padding: 24px 0;
  }

  .details-flexbox {
    width: 50%;
    padding-bottom: 24px;
  }

  .form-section form { width: 100%;}
  .gallery-flex { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .gallery figure { width: 50%; }
  .lightbox .myImages { width: 80%; }
}

/*media query for 425px starts here*/
@media only screen and (max-width: 425px) {
  .wrapper { width: 93%; }
  header .search-area { display: none; }
  .hamburger { right: 20px; }
  .to-the-top button { font-size: 12px; }
  h2 { font-size: 32px; }

  .care,
  .lawn-services {  width: 100%; }

  .welcome-image { width: 90%; }

  .welcome-content li {
    width: 90%;
    padding-right: 24px;
  }

  .testimonials-flexbox { width: 100%; }
  .testimonials .prev,
  .testimonials .next {  display: none; }
  .blog-flexbox { width: 100%; }
  .footer-flexbox { width: 100%; }
  footer .social-links { padding-top: 18px; }
  .details-flexbox { width: 100%; }
  .gallery figure { width: 100%; }
  .lightbox .modal { padding-top: 170px; }
  .lightbox .myImages { width: 85%; }
}