@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) ============================================ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */
input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

img {
  width: auto;
  border: 0;
  vertical-align: middle;
}

/* For all */
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/* for wrapper */
.wrapper {
  max-width: 1360px;
  width: 58%; 
  margin: 0 auto;
}

/*=================================
  Header styling starts here
=================================*/
header { position: relative; }
header span { display: none; }

/* Top Bar */
.top-bar { padding: 34px 0 33px 0; }

.top-flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

header .social-links {
  width: 30%;
  margin: auto;
}

header .social-links li {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #f2f2f2;
  text-align: center;
}

header .social-links a {
  padding: 6px;
  margin-top: 5px;
  color: #4d4d4d;
  font-size: 11px;
}

header .social-links a:hover {
  color: #4e9525;
  transition: .2s;
}

.sitelogo {
  width: 40%;
  margin: auto;
  text-align: center;
}

.search-area {
  width: 30%;
  margin: auto;
  position: relative;
  text-align: end;
}

.search-area input {
  width: 80%;
  padding: 9px 12px;
  border: none;
  border-radius: 24px;
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, .5);
  outline: none;
}

.search-area input::placeholder { font-size: 11px; }

.search-button {
  padding: 12px;
  border: none;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: -1px;
  background-color: #4e9525;
  color: #fff;
  font-size: 11px;
  outline: none;
}

.search-button:hover {
  border: 2px solid #4e9525;
  margin: -2px;
  background-color: #4d4d4d;
  transition: .2s;
}

/* Nav Bar */

nav {
  background-color: #4e9525;
  font-size: 11px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

nav ul { padding: 19px 0 20px 0; }
nav li { margin: 0 12px; }
nav a { color: #fff; }
nav a.active { color: #fbd341; }

nav a:hover:not(.active) {
  padding-bottom: 6px;
  border-bottom: 2px solid #fbd341;
  margin-bottom: -8px;
  transition: .2s;
}

/* Hamburger */
.hamburger {
  display: none;
  position: absolute;
  right: 32px;
  top: 26px;
  color: #4e9525;
  cursor: pointer;
  font-size: 24px;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* Banner Section */
.home-banner {
  background-image: url('https://via.placeholder.com/1920x1080/454545/454545?text=Banner');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-banner .banner-content {
  padding: 212px 0 220px 0;
  color: #fff;
}

.home-banner .banner-content p:nth-of-type(1) {
  color: #fbd341;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  width: 300px;
  padding: 8px 0;
  font-size: 44px;
  font-weight: 600;
}

.home-banner .banner-content p:nth-of-type(2) {
  padding-bottom: 17px;
  font-size: 14px;
}

.home-banner .banner-content a {
  padding: 8px 19px;
  border-radius: 2px;
  background-color: #4e9525;
  color: #fff;
  font-size: 12px;
}

.home-banner .banner-content a:hover {
  border: 2px solid #4e9525;
  margin: -2px;
  background-color: transparent;
  transition: .2s;
}

.home-banner .banner-content span { font-size: 8px; }

/* Services Section */
.services { padding: 34px 0 102px 0; }

.services-flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.care { width: 25%; }
.lawn-services { width: 25%; }

.care figure {
  padding: 12px 24px 24px 24px;
  margin: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  text-align: center;
}

.care img {
  border-radius: 50%;
  margin-bottom: 12px;
}

.care h4 {
  font-size: 14px;
  font-weight: 600;
}

.care p {
  padding: 12px 0 4px 0;
  font-size: 13px;
  color: rgba(0, 0, 0, .5);
  line-height: 1.4;
}

.services-content { margin: 6px 12px }

.services-content h3 {
  margin: 8px 0;
  font-size: 19px;
  font-weight: 600;
}

.services-content p:nth-of-type(1) {
  color: #4e9525;
  font-size: 14px;
  font-weight: 600;
}

.services-content p:nth-of-type(2) {
  padding: 12px 0 12px 0;
  font-size: 13px;
  color: rgba(0, 0, 0, .5);
  line-height: 1.4;
}

.services-content a {
  padding: 12px 19px;
  border-radius: 2px;
  background-color: #4e9525;
  color: #fff;
  font-size: 12px;
}

.services-content a:hover {
  border: 2px solid #4e9525;
  margin: -2px;
  background-color: transparent;
  color: #4e9525;
  transition: .2s;
}

/* Welcome Section */
.welcome { background-color: #f8f9fa; }

.welcome-flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.welcome-flexbox {
  width: 50%;
  margin: auto 0;
}

.welcome-image figure {
  max-width: 380px;
  position: relative;
}

.see-more {
  position: absolute;
  top: 50%;
  right: -26px;
  transform: translateY(-50%);
}

.welcome-flexbox img { max-width: 100%; }

.see-more a {
  width: 32px;
  height: 32px;
  padding: 16px 0 8px 26px;
  border-radius: 50%;
  background-color: #4e9525;
  color: #fff;
  font-size: 24px;
}

.see-more a:hover {
  margin: -2px;
  border: 2px solid #4e9525;
  background-color: #fbd341;
  color: #4e9525;
  transition: .2s;
}

.see-more span { display: none; }
.welcome-content { padding: 32px; }

.welcome-content h3 {
  margin: 8px 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.4;
}

.welcome-content p:nth-of-type(1) {
  padding: 3px 0;
  color: #4e9525;
  font-size: 14px;
  font-weight: 600;
}

.welcome-content p:nth-of-type(2) {
  padding: 12px 0 12px 0;
  font-size: 13px;
  color: rgba(0, 0, 0, .5);
  line-height: 1.4;
}

.welcome-content ul { margin-right: -24px; }
.welcome-content li:first-child { margin-top: 0; }

.welcome-content li {
  border-radius: 3px;
  margin: 12px 0;
  display: block;
  position: relative;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  font-size: 13px;
}

.welcome-content a {
  width: 90%;
  padding: 18px 24px;
  color: #000;
}

.welcome-content span {
  padding: 13px 14px 13px 14px;
  border-radius: 50%;
  position: absolute;
  right: -18px;
  top: 50%;
  background-color: #4e9525;
  color: #fff;
  font-size: 10px;
  transform: translateY(-50%);
}

.welcome-content li.active { background-color: #4e9525; }
.welcome-content li.active a { color: #fff; }

.welcome-content li.active span {
  background-color: #fbd341;
  color: #4e9525;
}

.welcome-content li:hover {
  background-color: #4e9525;
  transition: .5s;
}

.welcome-content li > a:hover { color: #fff; }

.welcome-content a:hover > span {
  background-color: #fbd341;
  color: #4e9525;
  transition: .2s;
}

/* Contact Section */
.contact {
  padding: 24px 0;
  background-color: #4e9525;
  color: #fff;
}

.contact-flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.contact-flexbox { width: 50%; }
.contact-flexbox:nth-of-type(2) { text-align: end; }

.contact h3 {
  margin: 8px 0;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.4;
}

.contact p {
  padding-bottom: 12px;
  font-size: 13px;
  line-height: 1.4;
}

.contact a {
  padding: 39px 0;
  color: #fbd341;
  font-size: 30px;
}

.contact a:hover { text-decoration: underline; }

/* Testimonials Section */
.testimonials {
  padding: 32px 0 80px 0;
  text-align: center;
}

.testimonials h3 {
  margin: 8px 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.4;
}

.testimonials > .wrapper > p {
  padding-top: 46px;
  color: #4e9525;
  font-size: 14px;
  font-weight: 600;
}

.testimonials-flex {
  width: 100%;
  padding: 42px 0 12px 0;
  display: flex;
  flex-wrap: wrap;
}

.testimonials-flexbox { width: 33.33%; }

.testimonials-content {
  padding: 12px;
  margin: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .03);
  text-align: left;
}

.testimonials-content p {
  padding: 8px 0 12px 0;
  font-size: 13px;
  color: rgba(0, 0, 0, .5);
  line-height: 1.5;
}

.testimonials-content img {
  margin-right: 8px;
  border-radius: 50%;
  float: left;
}

.testimonials-content figcaption {
  margin: 4px 0 6px 0;
  padding-top: 12px;
  font-size: 14px;
  font-weight: 600;
}

.testimonials-content span {
  padding: 8px 0;
  display: block;
  color: #4e9525;
  font-size: 12px;
}

.indicators { text-align: center; }

.indicator {
  width: 7px;
  height: 7px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 50%;
  display: inline-block;
  background-color: #f8f9fa;
  box-shadow: 0 0 2px #f8f9fa;
  cursor: pointer;
}

.indicator.active { background-color: #4e9525; }

.indicator:hover {
  background-color: #4e9525;
  transition: .2s;
}

/* Slider Section */
.slideshow-container { position: relative; }

/* Next & previous buttons */
.testimonials .prev,
.testimonials .next {
  width: auto;
  padding: 16px;
  margin-top: -22px;
  position: absolute;
  top: 50%;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  transition: .6s;
  user-select: none;
}

.testimonials .prev { left: -32px; }
.testimonials .next { right: -32px; }

/* On hover, add a black background color with a little bit see-through */
.testimonials .prev:hover,
.testimonials .next:hover {
  color: #4e9525;
}

/* Blogs Section */
.blogs {
  padding: 32px 0 57px 0;
  background-color: #f8f9fa;
  text-align: center;
}

.blogs h3 {
  margin: 8px 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.4;
}

.blogs > .wrapper > p {
  padding-top: 46px;
  color: #4e9525;
  font-size: 14px;
  font-weight: 600;
}

.blog-flex {
  width: 100%;
  padding: 43px 0;
  display: flex;
  flex-wrap: wrap;
}

.blog-flexbox { width: 33.33%; }

.blog-flexbox figure {
  margin: 0 12px;
  position: relative;
}

.blog-flexbox img { max-width: 100%; }

.blog-date {
  padding: 6px 12px 4px 12px;
  position: absolute;
  bottom: 0;
  left: 14px;
  background-color: #4e9525;
  color: #fff;
  font-size: 30px;
}

.blog-year,
.blog-month {
  padding: 1px 0;
  display: block;
  font-size: 11px;
}

.blog-date .text {
  padding-left: 4px;
  float: right;
  text-align: left;
}

.bottom-arrow {
  width: 14px;
  height: 14px;
  position: absolute;
  left: 25px;
  bottom: -5px;
  background-color: #4e9525;
  transform: rotate(45deg);
}

.bottom-arrow span { display: none; }

.blog-content {
  padding: 22px 12px 24px 12px;
  margin: 0 12px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
}

.blog-content p {
  padding: 12px 0;
  font-size: 13px;
  font-weight: 100;
  color: rgba(0, 0, 0, .5);
  line-height: 1.4;
}

.blog-content a {
  padding: 8px 10px;
  border-radius: 2px;
  background-color: #4e9525;
  color: #fff;
  font-size: 12px;
  font-weight: 100;
}

.blog-content a:hover {
  border: 2px solid #4e9525;
  margin: -2px;
  background-color: transparent;
  color: #4e9525;
  transition: .2s;
}

/* Newsletter Section */
.newsletter {
  padding: 18px 0;
  background-color: #4e9525;
  color: #fff;
}

.newsletter-flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.newsletter-flexbox {
  width: 50%;
  margin: auto 0;
}

.newsletter h3 {
  margin-right: 40px;
  font-size: 18px;
  text-align: right;
}

.newsletter input {
  padding: 10px 8px;
  margin-left: 12px;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.newsletter button {
  padding: 10px 8px;
  border: none;
  border-radius: 0 4px 4px 0;
  margin-left: -4px;
  background-color: #3b6d1d;
  color: #fff;
}

.newsletter button:hover {
  background-color: #4d4d4d;
  transition: .2s;
}

/* To the top Section */
.to-the-top {
  display: none;
  position: fixed;
  right: 24px;
  bottom: 24px;
}

.to-the-top button {
  padding: 12px;
  border: 2px solid #fff;
  background-color: #4e9525;
  color: #fff;
  font-size: 24px;
  outline: none;
}

.to-the-top button:hover { box-shadow: 0 1px 5px #fbd341; }
.to-the-top span { display: none; }

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from { opacity: 0; transform: translateX(-18px); }
  to { opacity: 1; transform: translateX(0); }
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer {
  padding: 60px 0 30px 0;
  background-color: #252525;
  color: #fff;
  font-size: 13px;
  line-height: 1.5;
}

footer a { color: #fff; }

.footer-flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.footer-flexbox { width: 25%; }

footer figure { margin-right: 12px; }

footer figcaption {
  padding: 24px 0;
  font-size: 13px;
  line-height: 1.5;
}

.footer-content h4 {
  margin-bottom: 12px;
  font-size: 15px;
  font-weight: 600;
}

.footer-content ul { padding: 12px 0; }

.footer-services li {
  margin: 6px 0;
  display: block;
}

.footer-services span {
  margin-right: 6px;
  font-size: 10px;
}

.footer-services {
  margin-left: 36px;
  margin-right: 12px;
}

.contact-info {
  margin-left: 12px;
  margin-right: 6px;
}

.contact-info li {
  margin: 8px 0;
  display: block;
}

.contact-info span {
  margin-right: 16px;
  font-size: 10px;
}

.office-hours { margin-left: 12px; }
.office-hours li { padding-left: 12px; }

.office-hours p {
  padding-top: 16px;
  color: #fbd341;
}

.office-hours ul {
  padding-top: 6px;
  padding-bottom: 0;
}

.footer-services a:hover,
.contact-info a[href]:hover {
  text-decoration: underline;
  transform: translateX(6px);
  transition: .2s;
}

/* Social Links */
.social-links span { display: none; }

footer .social-links li {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin: 0 3px;
  background-color: #303030;
  text-align: center;
}

footer .social-links a {
  padding: 6px;
  margin-top: 2px;
  font-size: 18px;
}

footer .social-links a:hover {
  color: #4e9525;
  transition: .2s;
}

/* Copyright Section */
.copyright {
  margin: 54px 0 14px 0;
  text-align: center;
}

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 1240px starts here*/
@media only screen and (max-width: 1240px) {
  .wrapper { width: 75%; }
  .blog-flexbox { max-width: 246px; }
}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  .wrapper { width: 85%; }

  .footer-services,
  .contact-info,
  .office-hours {
    margin: 0 12px;
  }

  .contact-info span { margin-right: 6px; }
}

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  .wrapper { width: 90%; }
  .top-bar { padding: 24px 0; }
  header .social-links { display: none; }
  header .search-area {  margin-right: 54px; }

  header .sitelogo {
    width: 50%;
    margin-left: 0;
    text-align: left;
  }

  .hamburger { display: block; }

  nav li {
    padding: 12px 0;
    display: block;
    text-align: left;
  }

  nav {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: .2s;
  }

  .to-the-top button { font-size: 16px; }

  .care {
    width: 50%;
    order: 2;
  }

  .lawn-services {
    width: 50%;
    order: 1;
  }

  .welcome-flexbox { width: 100%; }
  .welcome-flexbox figure { margin-left: 24px; }
  .welcome-content { margin-right: 24px; }
  .contact-flexbox { width: 100%; }
  .contact-flexbox:nth-of-type(2) { text-align: start; }
  .contact-flexbox a { font-size: 24px; }
  .testimonials-flex { justify-content: center; }
  .testimonials-flexbox { width: 50%; }
  .blog-flex { justify-content: center; }

  .blog-flexbox {
    width: 50%;
    padding: 12px 0;
  }

  .newsletter-flexbox { width: 100%; }

  .newsletter h3 { 
    margin: 0;
    margin-bottom: 12px;
    text-align: left;
  }

  .newsletter input {
    width: 60%;
    margin: 0;
  }

  .footer-flexbox {
    width: 50%;
    padding: 24px 0;
  }
}

/*media query for 425px starts here*/
@media only screen and (max-width: 425px) {
  .wrapper { width: 93%; }
  header .search-area { display: none; }
  .hamburger { right: 20px; }
  .to-the-top button { font-size: 12px; }
  h2 { font-size: 32px; }

  .care,
  .lawn-services {
    width: 100%;
  }

  .welcome-image { width: 90%; }

  .welcome-content li {
    width: 90%;
    padding-right: 24px;
  }

  .testimonials-flexbox { width: 100%; }

  .testimonials .prev,
  .testimonials .next {
    display: none;
  }

  .blog-flexbox { width: 100%; }
  .footer-flexbox { width: 100%; }
  footer .social-links { padding-top: 18px; }
}