@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) ============================================ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */
input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: auto;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/* for wrapper */
.wrapper {
  max-width: 1360px;
  width: 58%; 
  margin: 0 auto;
}

/*=================================
  Header styling starts here
=================================*/

header span { display: none; }

/* Top Bar */
.top-bar { margin: 34px 0 33px 0; }

.top-flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

header .social-links {
  width: 30%;
  margin: auto;
}

header .social-links li {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #f2f2f2;
  text-align: center;
}

header .social-links a {
  padding: 6px;
  margin-top: 5px;
  color: #4d4d4d;
  font-size: 11px;
}

header .social-links a:hover { color: #4e9525; }

.sitelogo {
  width: 40%;
  margin: auto;
  text-align: center;
}

.search-area {
  width: 30%;
  margin: auto;
  position: relative;
  text-align: end;
}

.search-area input {
  width: 80%;
  padding: 9px 12px;
  border: none;
  border-radius: 24px;
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, .5);
  outline: none;
}

.search-area input::placeholder { font-size: 11px; }

.search-button {
  padding: 12px;
  border: none;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: -1px;
  background-color: #4e9525;
  color: #fff;
  font-size: 11px;
  outline: none;
}

.search-button:hover {
  border: 2px solid #4e9525;
  margin: -2px;
  background-color: #4d4d4d;
  transition: .1s;
}

/* Nav Bar */

nav {
  padding: 19px 0 20px 0;
  background-color: #4e9525;
  font-size: 11px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

nav li { margin: 0 12px; }
nav a { color: #fff; }
nav a.active { color: #fbd341; }
nav a:hover:not(.active) { text-decoration: underline; }

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* Banner Section */
.banner {
  background-image: url('https://via.placeholder.com/1920x1080/454545/454545?text=Banner');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-content {
  padding: 212px 0 220px 0;
  color: #fff;
}

.banner-content p:nth-of-type(1) {
  color: #fbd341;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  width: 300px;
  padding: 8px 0;
  font-size: 44px;
  font-weight: 600;
}

.banner-content p:nth-of-type(2) {
  padding-bottom: 17px;
  font-size: 14px;
}

.banner-content a {
  padding: 8px 19px;
  border-radius: 2px;
  background-color: #4e9525;
  color: #fff;
  font-size: 12px;
}

.banner-content a:hover {
  border: 2px solid #4e9525;
  margin: -2px;
  background-color: transparent;
  transition: .1s;
}

.banner-content span { font-size: 8px; }

/* Services Section */
.services { padding: 34px 0 102px 0; }

.services-flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.care { width: 25%; }
.lawn-services { width: 25%; }

.care figure {
  padding: 12px 24px 24px 24px;
  margin: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  text-align: center;
}

.care img {
  border-radius: 50%;
  margin-bottom: 12px;
}

.care h4 {
  font-size: 14px;
  font-weight: 600;
}

.care p {
  padding: 12px 0 4px 0;
  font-size: 13px;
  color: rgba(0, 0, 0, .5);
  line-height: 1.4;
}

.services-content { margin: 6px 12px }

.services-content h3 {
  margin: 8px 0;
  font-size: 19px;
  font-weight: 600;
}

.services-content p:nth-of-type(1) {
  color: #4e9525;
  font-size: 14px;
  font-weight: 600;
}

.services-content p:nth-of-type(2) {
  padding: 12px 0 12px 0;
  font-size: 13px;
  color: rgba(0, 0, 0, .5);
  line-height: 1.4;
}

.services-content a {
  padding: 12px 19px;
  border-radius: 2px;
  background-color: #4e9525;
  color: #fff;
  font-size: 12px;
}

.services-content a:hover {
  border: 2px solid #4e9525;
  margin: -2px;
  background-color: transparent;
  color: #4e9525;
  transition: .1s;
}

/* Welcome Section */
.welcome { background-color: #f8f9fa; }

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 



 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {}  